.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (min-width: 480px) {
  .Login {
    height: 480px;
    padding: 20px 0;
    margin-top: 0%;
    background-image: url('./component/assets/images/login.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

@media all and (min-width: 480px) {
  .Registration {
    padding: 20px 0;
    margin-top: 3%;
    background-image: url('./component/assets/images/registration.jpg');
    background-repeat: no-repeat;
    padding-left: 10%;
  }

  .Registration form {
    margin: 0 auto;
    max-width: 320px;
  }
}
